In [16]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,classification_report

In [17]:
# Load the dataset
dataset = pd.read_csv("../Social_Network_Ads.csv")

In [18]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [28]:
dataset["Purchased"].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [19]:
# Perform one-hot encoding on categorical variables
dataset = pd.get_dummies(dataset, dtype=int, drop_first=True)

In [20]:
# Separate features and target
X = dataset.drop(columns=['Purchased'])
y = dataset['Purchased']

In [21]:
# Split into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3, random_state=0)

In [22]:

regressor=DecisionTreeClassifier()

regressor=regressor.fit(X_train,y_train)

In [23]:
y_pred = regressor.predict(X_test)

In [24]:

cm = confusion_matrix(y_test,y_pred)

In [25]:
print(cm)

[[80  5]
 [11 38]]

In [26]:
clf_report = classification_report(y_test, y_pred)

In [27]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.88      0.94      0.91        85
           1       0.88      0.78      0.83        49

    accuracy                           0.88       134
   macro avg       0.88      0.86      0.87       134
weighted avg       0.88      0.88      0.88       134